<%= content_for :sidebar do %>
<ul>
<% AmazonProductSearch::GIFTOPEDIA_ITEMS.each do |k,v|%>
<li><a href="/?browsing_nodes=<%=k %>"><%= k %></a></li>
<% end %>
</ul>
<% end %>
<div class="top-filter">
  <%= form_tag("/search",:method=>:get) do %>
  <div class="grid_5">
  Department
  <%= select_tag(:search_index,options_for_select(@amazon_search.list_search_indexes.collect{|s|[s[0],s[0]]})) %>
    </div>  
    <div class="grid_3">
      Keyword
      <%= text_field_tag :keywords %>
     </div> 
      <div class="grid_2">
      Search
      <%= submit_tag "Search" %>
  </div>
  </div>
  <% end %>
</div>

