<!DOCTYPE html>
<html>
<head>
  <title>AmazonApiApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container_16 every-thing">
  <header>
    <div class="header">
     
    </div>
  </header>
  <div class="content">
    <div class="sidebar grid_4">
      <%= yield :sidebar %>
    </div>

    <div class="main-conent grid_12">
    <%= yield %>
    </div>
        <div class="clear"></div>
  </div>
</div>
</body>
</html>
